<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.rub.cs.selab22.a14">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.22A14">
        <activity
            android:name=".navigation.HostActivity"
            android:exported="true"
            android:configChanges="locale"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mood.Notification"
            android:exported="false" />
        <activity
            android:name=".mood.MoodActivity"
            android:exported="false" />
        <activity
            android:name=".mood.LastPage"
            android:exported="false" />
        <activity
            android:name=".mood.AddNotesActivity"
            android:exported="false" />
        <activity
            android:name=".mood.Impulsivity"
            android:exported="false" />
        <activity
            android:name=".mood.SelbstWert"
            android:exported="false" />
        <activity
            android:name=".mood.Context"
            android:exported="false" />
        <activity
            android:name=".mood.SocialContext"
            android:exported="false" />
        <activity
            android:name=".mood.EventAppraisal"
            android:exported="false" />
        <activity
            android:name=".Physical_main"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:configChanges="locale"
            android:exported="false">

        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:configChanges="locale"
            android:exported="true"></activity>
        <activity
            android:name=".navigation.SurveyActivity"
            android:configChanges="locale"
            android:exported="true"></activity>
    </application>

</manifest>